<!DOCTYPE html>
<html lang="en" ng-app="mainModule">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Grocery Management System</title>

    <!-- 1: Load CSS -->
    <!--<link rel='stylesheet' href='path' />-->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    
</head>

<body> 
	<!--<tag ng-controller="<controller as variable>"></tag>-->
	<!--{{<model.property>}}-->
	<ui-view></ui-view>
</body>

<!-- angular handles normal app 1st b4 the dependencies (module concept) -->

<!-- 2: Load Imported libraries -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

<!-- 3: Load Application -->
<script src="app/app.module.js"></script>

<!-- 4: Load Routes-->
<script src="app/config/app.routes.js"></script>

<!-- 5: Load Services-->
<!--<script src="app/services/service.services.js"></script>-->
<script src="app/services/service.services.js"></script>

<!-- 6: Load Controllers-->
<!--<script src="app/feature/feature.controller.js"></script>-->
<script src="app/search/search.controller.js"></script>
<script src="app/edit/edit.controller.js"></script>