<div class="container">
    <div class="page-header">
        <h1>Grocery Management System
            <small>Update</small>
        </h1>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Product Attributes</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Name</td>
                <td>
                    <div ng-class="{'has-error': !ctrl.item.name}">
                        <input type="text" class="form-control" size="1" ng-model="ctrl.item.name">
                    </div>
                </td>
            </tr>
            <tr>
                <td>Brand</td>
                <td>
                    <div ng-class="{'has-error': !ctrl.item.brand}">
                        <input type="text" class="form-control" size="1" ng-model="ctrl.item.brand">
                    </div>
                </td>
            </tr>
            <tr>
                <td>UPC12</td>
                <td>
                    <div ng-class="{'has-error': !ctrl.item.upc12}">
                        <input type="number" class="form-control" size="1" ng-model="ctrl.item.upc12">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <button class="btn btn-default pull-right" ui-sref="search"> Cancel </button>
    <button class="btn btn-primary pull-right" ng-click="ctrl.updateItem()" ng-disabled="ctrl.checkFields()"> Save </button>    
</div>