<div class="container">
    <div class="page-header">
        <h1>Grocery Management System
            <small>Search</small>
        </h1>
    </div>

    <form name="queryForm" class="form-inline" ng-submit="ctrl.searchDB()" novalidate>
        <div class="form-group">
            <input id="productName" class="form-control" type="text"
                   name="productName"
                   ng-model = "ctrl.query.ProductName"
                   size="50"
                   placeholder="Enter Product Name">
        </div>
        <div class="form-group">
            <input id="productBrand" class="form-control" type="text"
                   name="productBrand"
                   ng-model = "ctrl.query.ProductBrand"
                   size="50"
                   placeholder="Enter Product Brand">
        </div>
        <button type="submit" class="btn btn-info form-control" ng-disabled="ctrl.queryFill()" >
            Search Product
        </button>
    </form>

    <br>
    
    <table class="table table-striped">
    <thead>
      <tr>
        <th>
            Product Name
            <a href="" ng-click="ctrl.sortName()"><span class="glyphicon" ng-class="{'glyphicon-arrow-down':ctrl.query.nameSort=='ASC','glyphicon-arrow-up':ctrl.query.nameSort=='DESC'}" ng-if="ctrl.searchResults.length"></span></a>
        </th>
        <th>
            Product Brand
            <a href="" ng-click="ctrl.sortBrand()"><span class="glyphicon" ng-class="{'glyphicon-arrow-down':ctrl.query.brandSort=='ASC','glyphicon-arrow-up':ctrl.query.brandSort=='DESC'}" ng-if="ctrl.searchResults.length"></span></a>
        </th>
        <th>UPC12 Barcode</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in ctrl.searchResults">
        <td>{{item.name}}</td>
        <td>{{item.brand}}</td>
        <td><img ng-src="http://www.barcodes4.me/barcode/c128a/{{item.upc12}}.png?IsTextDrawn=1" alt=""></td>
        <td><div class="text-center"><a ui-sref="edit({id:item.id})"><span class="glyphicon glyphicon-edit"></span></a></div></td>
      </tr>
    </tbody>
  </table>
</div>